/* thank u Graham Pyne @ https://codepen.io/gpyne/pen/npdQgW */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
}
body {
	color: hsl(0, 0%, 10%);
	background-color: hsl(0, 0%, 4%);
	max-width: 920px;
	margin: 0 auto;
	padding: 30px;
	bottom: 0;
	top: 0;
}
.hexagon {
	position: relative;
	display: inline-block;
	/* left/right margin approx. 25% of .hexagon width + spacing */
	margin: 1px 18px;
	background-color: hsl(220, 75%, 75%);
	text-align: center;
}
.hexagon, .hexagon::before, .hexagon::after {
	/* easy way: height is width * 1.732
	actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
	remove border-radius for sharp corners on hexagons */
	width: 67px;
	height: 116px;
	/* border-radius: 20%/5%; */
}
.hexagon::before {
	background-color: inherit;
	content: "";
	position: absolute;
	left: 0;
	transform: rotate(-60deg);
}
.hexagon::after {
	background-color: inherit;
	content: "";
	position: absolute;
	left: 0;
	transform: rotate(60deg);
}
.hexagon:nth-child(even) {
	/* top approx. 50% of .hexagon height + spacing */
	top: 59px;
}
.hexagon:hover {
	cursor: pointer;
	z-index: 105;
}
.hexagon:active {
	z-index: 110;
}
.hexagon.a {
	background-color: hsl(60, 100%, 70%);
}
.hexagon.b {
	background-color: hsl(230, 100%, 70%);
}
.hexagon.any {
    background-color: hsl(70, 0%, 70%);
}
.hexanone {
	position: relative;
	display: inline-block;
	width: 67px;
	height: 116px;
	margin: 1px 18px;
}
.hexanone:nth-child(even) {
	top: 59px;
}
.hexagontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 140%;
	font-size: 1.4rem;
	line-height: 1.2;
	z-index: 100;
}
.hexrow {
    font-size: 0;
}


.vertical {
    display: flex;
    flex-direction: column;
}
.horizontal {
    display: flex;
    flex-direction: row;
}